*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding:0;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-loader{
  background-color:rgba(0, 0, 0, 0.116);
  height:100vh;
  width:100vw;
  display:flex;
  justify-content:center;
  align-items:center;
  position:fixed;
  top:0;
  z-index:20
}
header{
  height:80px;
  color:white;
  align-items: center;
  position: fixed;
  z-index: 10;
  width: 100%;
  top:0;
}

/* main{
  height:calc(100vh - 100px)
} */


.logo{
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color:#e4e3e3;
  cursor: pointer;
}

.quizzes-taken,
.create-quiz,
.quiz-nature,
.take-quiz,
.taking-quiz,
.quizzes-created,
.dashboard{
  padding-top:62px
}
.taking-quiz,
.result{
    height: 100vh;
    background-color: white;
    width: 100%;
    z-index: 55;
    position: fixed;
    left: 0;
    top: 0;
    padding: 15px
}

.dashboard{
  height:100vh
}

.dashboard .content{
   height: 500px;
    display: flex;
    align-items: center;
  
}
.content .cards{
  background-color: #204051;
  padding:25px 50px;
}
.cards .title{
  color:#e4e3e3;
  border:none;
}
.stat-card{
  text-align:center;
  cursor:pointer;
  height:200px;
  background-color: #cfcfcf;
  max-width: 450px;
  color: #204051;
}
.stat-card:hover{
  background-color: #3b6978;
  color: #e4e3e3;
}
.side-drawer{
  background-color: white;
  color: white;
}
.toggle-btn{
  background-color: transparent;
  width: 30px;
  padding: 4px;
  position: absolute;
  cursor: pointer;
}


.toggle-btn .pipe{
  border:1px solid white;
  margin:3px;
}
.side-drawer ul{
  list-style: none;
  margin: 0;
}
.side-drawer .board{
  height:100vh;
}
.closed-drawer{
  display: none;
}
.opened-drawer{
  display: block;
}
.board{
  position: fixed;
  padding:0.8rem;
  top:0;
  left:0;
  height:100vh;
  background-color:white;
  width:70%;
  max-width: 300px;
  z-index:80
}
.active{
  color:#84a9ac !important;
}
.bg-homenav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #84a9ac;
  width: 100%;
  position: relative;
  top:0;
  font-size: 1rem;
}

.bg-navbar-animated{
  background-color: transparent;
}

.navbar-nav a{
  cursor: pointer;
}
.login-btn{
  border:none;
  outline:none;
  background:transparent;
  color:white;
  text-align: left;
  padding:0.5rem;
}

.bg-navbar{
  position: fixed !important;
  top:0;
  width:100%;
  background-color: #204051;
  
}

.cover{
  background-image:linear-gradient(to right,#92c6ca9d,#4b808585), url('./assets/images/cover.jpg');
  background-size:cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: center;
}


.btn-outline-custom{
  border:1px solid #0d8d99 !important;
  color:#0d8d99 !important;
}
.btn-outline-custom:hover{
  background-color: #0d8d99 !important;
  color:white !important;
}

.title{
  display: inline-block;
  width: 100%;
  color:"#204051";
  text-align: center;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid #84a9ac;
}

.about,.services,.contact{
  min-height:100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:#204051;
}


.service{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service img{
  display: block;
  height: 100%;
  width: 100%;
}

.service .image{
  height:50px;
  width: 50px;
}

.backdrop{
  background-color: rgba(0, 0, 0, 0.582);
  position: fixed;
  top:0;
  width: 100vw;
  height:100vh;
  z-index: 50;
  overflow: hidden;
}
.form{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top:0;
  height: 100vh;
  width: 100vw;
  z-index:40;
}
.login-form,.signup-form{
  border:1px solid #0e181d57;
  background-color:#0d8d99c0;
  padding:1rem;
  width:60%;
  max-width: 400px;
  min-width: 280px;
  position: relative;
  color:white;
  z-index: 200;
}

.center{
  text-align: center;
  color:#204051;
}
.login-button{
  width:100%;
  background-color: #204051 !important;
  border:none !important;
}

.register{
  display: inline-block;
  margin-top: 10px;
  font-size:0.8rem;
}

.register-link{
  background-color: transparent;
  border:none;
  text-decoration: underline;
  
}

.stats{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:95%;
}

.quiz-stats{
  height: 95%;
  padding:8px;
}

.quiz-description{
  background-color: white;
  height:100vh;
  width:100vw;
  position: fixed;
  top:0;
  z-index:10;
}

.back-btn{
  width:30px;
  height:30px;
  cursor: pointer;
}

.back-btn img{
  display:block;
  height: 100%;
  width: 100%;
}

.quiz-description .header{
  display: flex;

}

.questions{
  background-color:#e4e3e3;
  padding:16px;
  height:400px;
  margin:20px;
  overflow: auto;
}
.question{
  padding:8px;
  width:80%;
  background-color: white;
}

.invalid-input{
  border-color:red !important;
}
.error-label{
  color:red;
  font-size: 0.8rem;
}
.filter{
  border:1px solid #204051;
  padding:8px;
  background-color:transparent;

}

.created-quiz{
  text-align: center;
  display: flex;
  flex-flow: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 5;
  background-color:white;
}



.take-quiz{
  height:100vh;
  top:0;
  display: flex;
  align-items: center;
  width: 100vw;
}

.take-quiz form{
  background-color: #e4e3e3;
  padding:1.2rem;
}

.timer{
  text-align: right;
  padding:8px;
}

.custom-btn{
  display:block;
  width:100%;
  background-color:#3b6978 !important;
  border:none
}

.quiz-question{
  width:85%;
  margin:auto;
  padding:5px;
}
.quiz-question input[type='text']{
  border:none;
  border-bottom: 1px solid #204051;
  outline:none;
}

.quiz-question button{
  background-color: #204051;
  border: none;
  color:#e4e3e3;
  float:right;
  padding:5px;
  width:100px;
}
.icon{
    display: inline-block;
    width:30px;
    height:30px
}

.icon img{
    display:block;
    height:100%;
    width:100%;
    padding:2px;
  }

  .side-drawer .nav-item{
    font-size:1.2rem;
  }

  .nv-link{
    color:white;
  }

  .nv-link:hover{
    color:white;
    text-decoration: none;
  }
 
.logout-btn{
  border: none;
  background-color: transparent;
  color: white;
}

input{
  outline:none !important;
}