body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  box-sizing: border-box;
}
header{
  height:80px;
  color:white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  width: 100%;
  top:0;
}

main{
  height:calc(100vh - 100px)
}


.logo{
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

a{
  text-decoration: none;
  cursor: pointer;
}

.active{
  border-bottom: 2px solid white;
}

.bg-homenav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #84a9ac;
  width: 100%;
  font-size: 1rem;
}

.bg-navbar-animated{
  background-color: transparent;
}

.cover{
  background-image:linear-gradient(to right,#92c6ca9d,#4b808585), url('./assets/images/cover.jpg');
  background-size:cover;
  background-position: center;
  height: 400px;
  width: 100%;
  display: flex;
  flex-flow: column;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: center;
}


.cover{
  height:100vh;
}

.btn-outline-custom{
  border:1px solid #0d8d99 !important;
  color:#0d8d99 !important;
}
.btn-outline-custom:hover{
  background-color: #0d8d99 !important;
  color:white !important;
}
.tab{
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.6;
}
.title{
  display: inline-block;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid #84a9ac;
}
.about,.services{
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#204051;
}

.service{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service img{
  display: block;
  height: 100%;
  width: 100%;
}

.service .image{
  height:50px;
  width: 50px;
}